footer.footer 
	.footer__top
		.container 
			.row 
				.col-sm-6.col-lg-3 
					.footer__wrapper.footer__about 
						img.footer__logo(src="../images/logo-footer.png", alt="Logo Footer")
						p Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.

						.footer__socials 
							a.social__icon(href="#", title="Facebook") 
								i.lab.la-facebook-f
							a.social__icon(href="#", title="Twitter") 
								i.lab.la-twitter
							a.social__icon(href="#", title="Instagram") 
								i.lab.la-instagram
							a.social__icon(href="#", title="Youtube") 
								i.lab.la-youtube
							a.social__icon(href="#", title="Pinterest") 
								i.lab.la-pinterest

				.col-sm-6.col-lg-3 
					.footer__wrapper 
						h4.footer__title Useful Links
						ul.footer__list 
							li 
								a(href="#") About Molla 
							li 
								a(href="#") How to shop on Molla
							li 
								a(href="#") FAQ
							li 
								a(href="#") Contact us
							li 
								a(href="#") Log in

				.col-sm-6.col-lg-3 
					.footer__wrapper 
						h4.footer__title Customer Service
						ul.footer__list 
							li 
								a(href="#") Payment Methods
							li 
								a(href="#") Money-back guarantee!
							li 
								a(href="#") Returns
							li 
								a(href="#") Shipping
							li 
								a(href="#") Terms and conditions
							li 
								a(href="#") Privacy Policy

				.col-sm-6.col-lg-3 
					.footer__wrapper 
						h4.footer__title My Account
						ul.footer__list 
							li 
								a(href="#") Sign In
							li 
								a(href="#") View Cart
							li 
								a(href="#") My Wishlist
							li 
								a(href="#") Track My Order
							li 
								a(href="#") Help

	.footer__bottom
		.container.pb-2.pt-2 
			p.footer__copyright Copyright © 2021 Molla Store. All Rights Reserved.
			figure.footer__payment 
				img(src="../images/payments.png", alt="Payment")