.header
	.header__top
		.container 
			.header__left 
				.header__dropdown
					a(href="#") Usd
					.header__menu 
						ul
							li
								a(href="#") Eur 
							li
								a(href="#") Usd 
				.header__dropdown
					a(href="#") Eng
					.header__menu 
						ul
							li
								a(href="#") English 
							li
								a(href="#") French 
							li
								a(href="#") Spanish 
			.header__right 
				ul.header__top-menu
					li 
						a(href="#") Links
						ul 
							li
								a(href="tel:#")
									i.las.la-phone
									| Call: +0123 456 789
							li
								a(href="#")
									i.lar.la-heart
									| My Wishlist
									span ( 0 )
							li
								a(href='#') About Us
							li
								a(href='#') Contact Us
							li
								a(href='#')
									i.las.la-user
									| Login							