section.cta 
  .container 
    .row.justify-content-center
      .col-md-10.col-lg-9.col-xl-8
        .cta__wrapper.pt-4.pb-4
          .cta__content
            h3.cta__title Sign Up & Get 10% Off
            p.cta__desc Molla presents the best in interior design
          .cta__action
            a.btn.btn-outline-white(href='#')
              span SIGN UP
              i.las.la-long-arrow-alt-right
            