section.categories 
  .container.pt-6
    h2.title-lg.text-center.mb-4 Shop by Categories
    .row 
      .col-sm-6.col-lg-4 
        +bannerCategories("banner-category-1.jpg", "Home Decor", "Shop Now")

      .col-sm-6.col-lg-4
        +bannerCategories("banner-category-4.jpg", "Living Room", "Shop Now")

      .col-sm-12.col-lg-4
        .row 
          .col-lg-12.col-sm-6.col-xs-12
            +bannerCategories("banner-category-2.jpg", "Kitchen & Utensil", "Shop Now")

          .col-lg-12.col-sm-6.col-xs-12
            +bannerCategories("banner-category-3.jpg", "Lighting", "Shop Now")