section.posts.pt-7.pb-7
  .container 
    h2.text-center.title-lg.mb-3.mb-md-4 From Our Blog
    .row
      each val in posts
        .col-md-4
          +postList(val)
        
    .more-container.text-center.mt-4
      a.btn.btn-outline-darker.btn-more(href='#')
        span View more articles
        i.las.la-long-arrow-alt-right
