.header {
  width: 100%;
  background-color: #fff;

  .container {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__right {
  margin-left: auto;
  align-self: stretch;
}

.header__top {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: #777;
  margin-bottom: 0.1rem;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  .header__top-menu li + li {
    margin-left: 2.6rem;
  }
}

.header__top-menu {
  text-transform: uppercase;
  margin: 0;

  > li {
    position: relative;
    > a {
      display: none;
    }
  }

  ul {
    display: flex;
    align-items: center;
  }

  li + li {
    margin-left: 3rem;
  }

  a {
    display: inline-flex;
    align-items: center;
  }

  i {
    font-size: 1.5rem;
    margin-right: 0.8rem;
    line-height: 1;

    &.lar.la-heart {
      margin-top: -0.2rem;
    }
  }

  span {
    color: $primary-color;
    margin-left: 0.3rem;
  }
}

.header__dropdown {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  & + .header__dropdown {
    margin-left: 2.9rem;
  }

  > a {
    position: relative;
    display: inline-flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 2.2rem;
    align-items: center;
    text-transform: uppercase;

    &::after {
      font-family: "Line Awesome Free";
      content: "\f107";
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1;
      margin-top: -0.7rem;
      font-weight: 900;
    }
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.header__menu {
  position: absolute;
  left: -1.5rem;
  top: 100%;
  z-index: 20;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05),
    -2px 5px 8px rgba(51, 51, 51, 0.05);
  transition: all 0.25s;
  margin-top: 1px;

  .header__dropdown:hover > &,
  .header__dropdown:focus > & {
    visibility: visible;
    opacity: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
    }

    a {
      padding: 0.3rem 1.5rem;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
}
