-
  const bannerIntro = [
    {
      thumbnail: "banner-1.jpg",
      subtitle: "Clearence",
      titleOne: "Chairs & Chaises",
      titleTwo: "Up to 40% off",
      action: "Shop now"
    },
    {
      thumbnail: "banner-2.jpg",
      subtitle: "New in",
      titleOne: "Kitchen & Dinning",
      titleTwo: "Collection",
      action: "Discover Now"
    }
  ]