-
  const posts = [
    {
      id: "1",
      thumbnail: "post_1.jpg",
      data: "Sep 22, 2020",
      numComment: "2",
      title: "Sed adipiscing odbrnare.",
      desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.Pelletesque aliquet nibh necurna."
    },
    {
      id: "2",
      thumbnail: "post_2.jpg",
      data: "May 12, 2020",
      numComment: "4",
      title: "Fusce lacifgbnia arcuet nulla.",
      desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.Pelletesque aliquet nibh necurna."
    },
    {
      id: "3",
      thumbnail: "post_3.jpg",
      data: "May 19, 2020",
      numComment: "6",
      title: "Quisque volutpat mdbattis eros.",
      desc: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.Pelletesque aliquet nibh necurna."
    }
  ]