-
  const products = [
    {
      id: "1",
      imageName: "product_1_1.jpg",
      imageHoverName: "product_1_2.jpg",
      label: ["new", "out"],
      categories: ["Furniture", "Tables"],
      title: "2-Seater",
      oldPrice: "$25.00",
      newPrice: "$20.00",
      numReview: "6"
    },
    {
      id: "2",
      imageName: "product_2_1.jpg",
      imageHoverName: "product_2_2.jpg",
      label: ["top"],
      categories: ["Coffee & Tables", "Furniture", "Tables"],
      title: "Block Side Table/Trolley",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "8"
    },
    {
      id: "3",
      imageName: "product_3_1.jpg",
      imageHoverName: "product_3_2.jpg",
      label: ["sale", "new"],
      categories: ["Furniture"],
      title: "Butler Stool Ladder",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "6"
    },
    {
      id: "4",
      imageName: "product_4_1.jpg",
      imageHoverName: "product_4_2.jpg",
      label: ["out"],
      categories: ["Furniture"],
      title: "Can 2-Seater Sofa",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "6"
    },
    {
      id: "5",
      imageName: "product_5_1.jpg",
      imageHoverName: "product_5_2.jpg",
      label: ["new", "sale"],
      categories: ["Furniture"],
      title: "Roots Sofa Bed",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "6"
    },
    {
      id: "6",
      imageName: "product_6_1.jpg",
      imageHoverName: "product_6_2.jpg",
      label: ["sale"],
      categories: ["Furniture"],
      title: "Carronade Table Lamp",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "6"
    },
    {
      id: "7",
      imageName: "product_7_1.jpg",
      imageHoverName: "product_7_2.jpg",
      label: ["new", "out"],
      categories: ["Furniture"],
      title: "Cushion Set 3 Pieces",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "6"
    },
    {
      id: "8",
      imageName: "product_8_1.jpg",
      imageHoverName: "product_8_2.jpg",
      label: ["top"],
      categories: ["Furniture"],
      title: "Flow Slim Armchair",
      oldPrice: "$240.00",
      newPrice: "$210.00",
      numReview: "6"
    }
  ]