-
  const services = [
    {
      icon: "las la-rocket",
      title: "Payment & Delivery",
      desc: "Free shipping for orders over $50"
    },
    {
      icon: "las la-undo-alt",
      title: "Return & Refund",
      desc: "Free 100% money back guarantee"
    },
    {
      icon: "las la-life-ring",
      title: "Quality Support",
      desc: "Alway online feedback 24/7"
    }
  ]