-
  const sliderIntro = [
    {
      status: "",
      image: "slide-1-2.png",
      subtitle: "Topsale Collection",
      titleOne: "Best Lighting",
      titleTwo: "Collection",
      action: "SHOP NOW"
    },
    {
      status: "active",
      image: "slide-2-2.png",
      subtitle: "Topsale Collection",
      titleOne: "Wood Cabinet",
      titleTwo: "Collection",
      action: "SHOP NOW"
    }
  ]